div(dir='rtl')#courseViewPanel.panel.panel-primary
    .panelHeading.panel-heading {{ toDisplay.name }}
    img#courseImage(ng-if="toDisplay.PictureUrl", ng-src="{{ toDisplay.PictureUrl }}")
    table.table.modalTable(dir='rtl')
        course-field(ng-repeat="prop in columns", ng-if="prop.realName !== 'name'", name="{{ prop.hebName }}", content="toDisplay[prop.realName].toString()")
    form(name="upload_form")
        input(type="file", ngf-select, ng-model="file", name="file", ngf-pattern="'image/*'", accept="image/*", ngf-max-size="20MB")
        | Image thumbnail:
        img(style="width:100px;", ngf-thumbnail="file || '/thumb.jpg'")
        i(ng-show="upload_form.file.$error.required") *required
        br
        i(ng-show="upload_form.file.$error.maxSize") File too large {{file.size / 1000000|number:1}}MB: max 20M
        button(type="submit", ng-click="submit()") submit
        p {{ progress }}