<md-dialog aria-label="item.Name"  ng-cloak style="width: 500px;">
<form>
   <md-toolbar>  
      <div class="md-toolbar-tools">
         <h3 layout-align="center center">  הוספת שו"ת  </h3>  
         <span flex></span>
         <md-button class="md-icon-button" ng-click="hide()">       
         <md-iconmd-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog">
         </md-icon>            X           </md-button>
      </div>
   </md-toolbar>
   <md-dialog-content class="dialogcontent" dir="rtl" margin="right">
      <div class="md-dialog-content">
         <form name="newFaqForm">
            <md-input-container class="md-block" flex-gt-sm>
                <label>שאלה</label>
                <input required ng-model="Faq.question">
                <div ng-messages="newFaqForm.Faq.question.$error" style="font-size:12px;" ng-if='Faq.question == undefined'>
                    <div ng-message="required">שדה חובה.</div>
                </div>
            </md-input-container>
         
            <md-input-container class="md-block" flex-gt-sm>
                <label>תשובה</label>
                <input required ng-model="Faq.answer">
                <div ng-messages="newFaqForm.Faq.answer.$error" style="font-size:12px;" ng-if='Faq.answer == undefined'>
                    <div ng-message="required">שדה חובה.</div>
                </div>
            </md-input-container>

            <md-input-container class="md-block" flex-gt-sm>
                <label>מספר טלפון (XXX-XXXXXXX)</label>
                <input required ng-model="Faq.phoneNumber" pattern="\d{3}[\-]\d{7}">
                <div ng-messages="newFaqForm.Faq.phoneNumber.$error" style="font-size:12px;" ng-if='Faq.phoneNumber == undefined'>
                    <div ng-message="required">שדה חובה.</div>
                </div>
            </md-input-container>

            <md-input-container required class="md-block" flex-gt-sm>
                <label>הצמד למעלה</label>
                <md-select ng-model="Faq.pinToTop">
                    <md-option value="true">true</md-option>
                    <md-option value="false">false</md-option>
                </md-select>
                <div ng-messages="newFaqForm.Faq.pinToTop.$error" style="font-size:12px;" ng-if='Faq.pinToTop == undefined'>
                    <div ng-message="required">שדה חובה.</div>
                </div>
            </md-input-container>

            <md-input-container class="md-block" flex-gt-sm>
                <label>כתובת</label>
                <input ng-model="Faq.address">
            </md-input-container>

            <md-input-container class="md-block" flex-gt-sm>
                <label>לינק</label>
                <input ng-model="Faq.link">
            </md-input-container>
         
         </form>
      </div>
   </md-dialog-content>
   <md-dialog-actions layout="row">
      <span flex></span>
      <md-button ng-click="hide()"><ng-md-icon icon="cancel"></ng-md-icon>                  ביטול            </md-button>
      <md-button ng-click="saveNewFaq()"><ng-md-icon icon="save"></ng-md-icon>                   צור            </md-button>
   </md-dialog-actions>
</form>
</md-dialog>   