<div layout="row" layout-align="center stretch" layout-wrap>
    <md-card>
        <md-card-title>
            <img ng-src="{{imagePath}}" class="md-card-image" alt="Washed Out">
            <md-card-title-text ng-click="openLink()">
            <span class="md-headline">{{currCourse.Name}}</span>
            </md-card-title-text>
        </md-card-title>
        <md-card-content>
            <div layout="row">
            <form name="userForm" flex="100" ng-submit="confirm()">
                <div layout="row">
                    <md-input-container class="md-block" flex="100">
                    <label>שם הקורס</label>
                    <input type="text" ng-model="currCourse.Name" md-maxlength="50" required>
                    </md-input-container>
                </div>
                <div layout="row">
                    <md-input-container class="md-block" flex="100">
                    <label>תיאור</label>
                    <input type="text" ng-model="currCourse.Description" md-maxlength="100" required>
                    </md-input-container>
                </div>
                <div layout="row">
                    <md-input-container class="md-block" flex="100">
                    <label>לינק לתמונה</label>
                    <input type="text" ng-model="currCourse.PictureUrl">
                    </md-input-container>
                </div>
                <label>מחזורים:</label>
                <div layout="row" ng-repeat="cycle in currCourse.cycleList">
                    <div layout="row">
                        <div class="column" flex="25">
                            <md-input-container class="md-block" flex="100">
                            <label>מועד התחלה</label>
                            <md-datepicker ng-model="cycle.StartDate"></md-datepicker>
                            </md-input-container>
                        </div>
                        <div class="column" flex="25">
                            <md-input-container class="md-block" flex="100">
                            <label>מועד סיום</label>
                            <md-datepicker ng-model="cycle.EndDate"></md-datepicker>
                            </md-input-container>
                        </div>
                        <div class="column" flex="25">
                            <md-input-container class="md-block" flex="100">
                            <label>מספר אנשים</label>
                            <md-datepicker ng-model="cycle.EndDate"></md-datepicker>
                            </md-input-container>
                        </div>
                        <div class="column" flex="25">
                            <md-input-container class="md-block" flex="100">
                            <label>לינק למשוב</label>
                            <md-datepicker ng-model="cycle.GoogleFormUrl"></md-datepicker>
                            </md-input-container>
                        </div>
                    </div>

                    <md-divider></md-divider>
                </div>
                <div layout="row" layout-align="center center" layout-padding>
                <md-button class="md-fab md-danger md-hue-2" aria-label="Push!" layout-align="center center" type="submit" ng-hide="channels.length == null || courses.length == null">
                    <ng-md-icon icon="send"></ng-md-icon>
                </md-button>
            </div>
            </form>
            </div>
        </md-card-content>
    </md-card>
</div>
