<div layout="row">
<md-card layout="column" flex="100">
<md-card-title>
    <md-card-title-media layout-padding>
    <div class="md-media-md card-media" >
        <img ng-src="{{preview.imageUrl}}"/>
        <md-card-icon-actions ng-show="index >= 0">
    <md-button class="md-icon-button" aria-label="Edit" ng-click="edit({index: index})">
        <ng-md-icon icon="edit"></ng-md-icon>
    </md-button>
    <md-button class="md-icon-button" aria-label="Delete" ng-click="delete({index: index})">
        <ng-md-icon icon="delete"></ng-md-icon>
    </md-button>
    </md-card-icon-actions>
    </div>
    </md-card-title-media>
    <md-card-title-text ng-click="openLink()">
    <span class="md-headline">{{preview.title}}</span>
    <span class="md-subhead">{{preview.description}}</span>
    </md-card-title-text>
</md-card-title>
<md-card-actions layout="row" layout-align="center center">
    
</md-card-actions>
</md-card>
</div>