<div layout="row" layout-align="center stretch" layout-wrap>
    <md-card>
        <md-card-title>
            <md-card-title-text ng-click="openLink()">
            <span class="md-headline">שליחת התראות פוש</span>
            <span class="md-subhead">
                כאן תוכל/י לשלוח התראה על שינויים בקורסים, הוספת קורס חדש וכו'. יש לבחור באוכלוסיית היעד הרצויה ולוודא את הנוסח של ההודעה<b>  </b>
                <span style="color: red; font-weight: bold">לאחר השליחה לא ניתן לבטל את הפעולה!</span> <br/>
                במידה ונבחרו קורסים או ערוצים לשליחה, ההודעה תשלח רק לאנשים אשר נרשמו לקורסים / ערוצים הללו, במידה וכלום לא נבחר, ההודעה תשלח בצורה גלובלית
            </span>
            </md-card-title-text>
        </md-card-title>
        <md-card-content>
            <div layout="row">
            <form name="userForm" flex="100" ng-submit="confirm()">
                <div layout="row">
                    <md-input-container class="md-block" flex="100">
                    <label>כותרת ההתראה</label>
                    <input type="text" ng-model="notification.data.title" md-maxlength="50" placeholder="תמצות ברור של תוכן ההתראה" required>
                    </md-input-container>
                </div>
                <div layout="row">
                    <md-input-container class="md-block" flex="100">
                    <label>תוכן ההתראה</label>
                    <input type="text" ng-model="notification.data.content" md-maxlength="100" placeholder="כאן רצוי לפרט" required>
                    </md-input-container>
                </div>
                <div layout="row">
                    <div layout="column" flex="50">
                    <md-chips ng-model="selectedCourses" readonly="false" md-removable="true" md-on-remove="updateNotification(item)">
                        <md-autocomplete flex="100" 
                                md-input-name="autocompleteField"
                                md-selected-item="selectedItem"
                                md-search-text="courseChoose"
                                md-selected-item-change="selectedItemChange(item)" 
                                md-items="item in querySearch(courseChoose)"
                                md-item-text="item.text"
                                md-no-cache	= "true"
                                md-require-match
                                placeholder="הפץ לקורסים (אופציונלי)">
                            <md-item-template>
                                <span md-highlight-text="courseChoose" flags="^i">{{item.text}}</span>
                            </md-item-template>
                        </md-autocomplete>
                        <md-chip-template>
                                <small>{{$chip.text}}</small>
                        </md-chip-template>
                    </md-chips>
                    </div>
                    <div layout="column" flex="5">
                    </div>
                    <div layout="column" flex="55">
                        <h2 class="md-subhead">הפץ לקטגוריות מסוימות (אופציונלי)</h2>
                        <div ng-repeat="channel in channels">
                            <md-checkbox ng-checked="exists(channel, notification.channels)" ng-click="toggle(channel, notification.channels)">
                            {{ channel }}
                            </md-checkbox>
                        </div>
                    </div>
                </div>
                <div layout="row" layout-align="center center" layout-padding>
                <md-button class="md-fab md-danger md-hue-2" aria-label="Push!" layout-align="center center" type="submit" ng-hide="channels.length == null || courses.length == null">
                    <ng-md-icon icon="send"></ng-md-icon>
                </md-button>
                <md-progress-circular ng-show="channels == null || courses.length == null" md-mode="indeterminate"></md-progress-circular>
            </div>
            </form>
            </div>
        </md-card-content>
    </md-card>
</div>
