doctype html
html(ng-app='marshalApp')
  head
    title= title
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css')
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css")
    link(rel='stylesheet', href='/stylesheets/style.css')
  body#mainBody
    img#mainLogo(src='https://upload.wikimedia.org/wikipedia/he/thumb/4/48/Basmah.png/200px-Basmah.png')
    div(ng-view)
    script(src='https://code.jquery.com/jquery-2.2.0.min.js' type='text/javascript')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js' type='text/javascript')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.9/angular.min.js' type='text/javascript')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.9/angular-route.min.js' type='text/javascript')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.9/angular-animate.min.js' type='text/javascript')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.9/angular-sanitize.min.js' type='text/javascript')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/1.1.1/ui-bootstrap-tpls.min.js' type='text/javascript')
    script(src='scripts/ng-file-upload/dist/ng-file-upload.min.js' type='text/javascript')
    script(src='scripts/ng-file-upload/dist/ng-file-upload-shim.min.js' type='text/javascript')
    script(src='/javascripts/appModule.js' type='text/javascript')
    script(src='/javascripts/appRouting.js' type='text/javascript')
    script(src='/javascripts/services/dragDropService.js' type='text/javascript')
    script(src='/javascripts/services/selectedCourse.js' type='text/javascript')
    script(src='/javascripts/services/coursePropGetter.js' type='text/javascript')
    script(src='/javascripts/services/courseHandler.js' type='text/javascript')
    script(src='/javascripts/controllers/coursesTableController.js' type='text/javascript')
    script(src='/javascripts/controllers/courseViewController.js' type='text/javascript')
    script(src='/javascripts/controllers/addCourseModalController.js' type='text/javascript')
    script(src='/javascripts/directives/courseField.js' type='text/javascript')
    script(src='/javascripts/directives/imageUploadField.js' type='text/javascript')
