doctype html
#loginDiv(ng-controller="loginController")
    form(action="" method="POST")
        input.form-control.loginInput(type="text", placeholder="User Name", name="username")
        input.form-control.loginInput(type="password", placeholder="Password", name="password")
        input.form-control.loginInput.loginButton.btn.btn-primary(type="submit")