body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #adedff;
}

a {
  color: #00B7FF;
}

#mainLogo {
    max-height: 100px;
    display: block;
    margin-right: auto;
    margin-left: auto;
}

#loginDiv {
    width: 30%;
    display: block;
    margin-top: 2%;
    margin-right: auto;
    margin-left: auto;
}

.loginInput {
    margin: 2%;
}

.loginButton {
    width: 50%;
    display: block;
    margin-right: auto;
    margin-left: auto;
}