<html lang="en" ng-app="marshalApp" dir="rtl">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>מרש"ל - פאנל ניהול</title>

    <!-- Chrome, Firefox OS, Opera and Vivaldi -->
    <meta name="theme-color" content="#03a9f4">
    <!-- Windows Phone -->
    <meta name="msapplication-navbutton-color" content="#03a9f4">
    <!-- iOS Safari -->
    <meta name="apple-mobile-web-app-status-bar-style" content="#03a9f4">

     <!-- Add to homescreen for Chrome on Android -->
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="icon" sizes="192x192" href="images/ic_launcher-web.png">

    <!-- Add to homescreen for Safari on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-title" content="מרשל פאנל ניהול">
    <link rel="apple-touch-icon-precomposed" href="images/ic_launcher-web.png">

    <!-- Tile icon for Win8 (144x144 + tile color) -->
    <meta name="msapplication-TileImage" content="images/ic_launcher-web.png">
    <meta name="msapplication-TileColor" content="#3372DF">

    <link rel="shortcut icon" href="images/favicon.ico">

    <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/angular_material/1.1.0-rc.5/angular-material.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic">
    <link rel="stylesheet" href="/stylesheets/sweetalert.css">
    <link rel="stylesheet" href="/stylesheets/styles.css">
  </head>
  <body layout="row" ng-controller="AppCtrl">

    <!--Navbar-->
    <md-sidenav layout="column" class="md-sidenav-right md-whiteframe-z2" md-component-id="right" md-is-locked-open="$mdMedia('gt-md')">
      <md-toolbar class="md-tall md-hue-2" style="background-image:url(/images/sidenavbg.png)">
        <span flex></span>
        <div layout="column" class="md-toolbar-tools-bottom inset">
          <span></span>
          <div class="md-headline">אהלן, {{username}}</div>
          <div>מחובר מ-{{since}}</div>
        </div>
      </md-toolbar>
      <md-list>

    <!--Menu items, on scope-->
      <md-item ng-repeat="item in menu">
          <md-item-content layout="row" layout-align="start center">
              <md-button class="btn1" ng-click="redirectView(item.link)"><ng-md-icon icon="{{item.icon}}"></ng-md-icon> {{item.title}} </md-button>
          </md-item-content>
      </md-item>
      <md-divider></md-divider>
      <md-subheader>עוד חרטא</md-subheader>
      <md-item ng-repeat="item in settings">
        <a>
          <md-item-content md-ink-ripple layout="row" layout-align="start center">
            <div class="inset">
              <ng-md-icon icon="{{item.icon}}"></ng-md-icon>
            </div>
            <div class="inset">{{item.title}}
            </div>
          </md-item-content>
        </a>
      </md-item>
    </md-list>
    </md-sidenav>

    <!--Main content-->
    <div layout="column" class="relative" layout-fill role="main">
      <md-toolbar ng-show="!showSearch">

          <!--Main toolbar-->
        <div class="md-toolbar-tools">
          <md-button ng-click="toggleSidenav('right')" hide-gt-md aria-label="Menu">
            <ng-md-icon icon="menu"></ng-md-icon>
          </md-button>
          <h3 class="md-headline">
            {{currView}}
          </h3>
          <span flex></span>
          <md-button aria-label="Search" ng-click="showSearch = !showSearch">
            <ng-md-icon icon="search"></ng-md-icon>
          </md-button>
          <md-button aria-label="Logout" ng-click = "logout()" >
           <ng-md-icon icon="exit_to_app"></ng-md-icon>
          </md-button>
        </div>
      </md-toolbar>

      <md-toolbar class="md-hue-1" ng-show="showSearch">
        <div class="md-toolbar-tools">
        <h3 flex="10">
            חיפוש
          </h3>
          <md-button ng-click="showSearch = !showSearch; search=''" aria-label="Back">
            <ng-md-icon icon="arrow_forward"></ng-md-icon>
          </md-button>
          <md-input-container md-theme="input" flex inset>
            <label>&nbsp;</label>
            <br/>
            <input ng-model="search" placeholder="הכנס שאילתא..">
          </md-input-container>
          <md-button aria-label="Search" ng-click="showSearch = !showSearch; search=''">
            <ng-md-icon icon="search"></ng-md-icon>
          </md-button>
        </div>
       
      </md-toolbar>
      <md-content flex md-scroll-y>
        <ui-view layout="column" layout-fill layout-padding>
          <div class="inset" hide-sm></div>
          <div ng-view></div>
        </ui-view>
      </md-content>


    </div>
    <!-- Angular Material Dependencies -->
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular-animate.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular-aria.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular-route.min.js"></script>
    <script type="text/javascript" src="https://cdn.rawgit.com/auth0/angular-jwt/master/dist/angular-jwt.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angular_material/1.1.0-rc.5/angular-material.min.js"></script>
    <script src="//cdn.jsdelivr.net/angular-material-icons/0.4.0/angular-material-icons.min.js"></script>
    <script src="/javascripts/controllers/sweetalert.min.js"></script>
    <script src="/javascripts/appModule.js"></script>
    <script src="/javascripts/controllers/exampleCtrl.js"></script>
    <script src="/javascripts/controllers/coursesCtrl.js"></script>
    <script src="/javascripts/controllers/malshabCtrl.js"></script>
    <script src="/javascripts/controllers/materialsCtrl.js"></script>
    <script src="/javascripts/controllers/meetupsCtrl.js"></script>
    <script src="/javascripts/controllers/dialogCtrl.js"></script>
    <script src="/javascripts/services/httpService.js"></script> 
  </body>
</html>