<html lang="en" ng-app="marshalApp" dir="rtl">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>מרש"ל - פאנל ניהול</title>

    <!-- Chrome, Firefox OS, Opera and Vivaldi -->
    <meta name="theme-color" content="#03a9f4">
    <!-- Windows Phone -->
    <meta name="msapplication-navbutton-color" content="#03a9f4">
    <!-- iOS Safari -->
    <meta name="apple-mobile-web-app-status-bar-style" content="#03a9f4">

     <!-- Add to homescreen for Chrome on Android -->
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="icon" sizes="192x192" href="images/ic_launcher-web.png">

    <!-- Add to homescreen for Safari on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-title" content="מרשל פאנל ניהול">
    <link rel="apple-touch-icon-precomposed" href="images/ic_launcher-web.png">

    <!-- Tile icon for Win8 (144x144 + tile color) -->
    <meta name="msapplication-TileImage" content="images/ic_launcher-web.png">
    <meta name="msapplication-TileColor" content="#3372DF">

    <link rel="shortcut icon" href="images/favicon.ico">

    <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/angular_material/1.1.0-rc.5/angular-material.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic">
    <style>
      @font-face {
        font-family: "NotoHebrew";
        src: url("../fonts/Noto.ttf");
        font-weight: normal;
      }

      body {
        background-color: #f4f4f4;
        font-family: "Roboto", "NotoHebrew";
      }

      body,
      html {
        height: 100%;
      }

      .login-wrap {
        height: 100%;
        background-color: transparent;
      }

      .login-content {
      }

      .login-card {
        width: 400px;
        padding: 20px 0;
      }
      </style>
  </head>
  <body ng-controller="loginCtrl" >
    <div layout-fill id="toast-container">
    <md-content layout="row" layout-align="center center" class="md-padding login-wrap">
      <div class="login-content">
        <center>  <img src="/images/ic_launcher-web.png" height="192px" width="192px" style="margin: 0 auto; padding-bottom: 20px"> </center>
       <div layout="row">
          <md-card class="login-card">
          <md-card-title>
            <md-card-title-text>
              <span class="md-headline">התחבר</span>
            </md-card-title-text>
          </md-card-title>
            <md-card-content>
              <md-input-container class="md-icon-float md-block">
                <label>שם משתמש</label>
                <input type="text" required name="text" ng-model="username" ng-disabled="activated">
              </md-input-container>

              <md-input-container class="md-icon-float md-block">
                <label>סיסמה</label>
                <input type="password" required name="password" ng-model="password" ng-disabled="activated">
              </md-input-container>
            </md-card-content>

            <md-card-actions layout="row" layout-align="end center">
              <md-button class="md-raised md-primary" ng-click="doLogin()" ng-disabled="activated">התחבר</md-button>
            </md-card-actions>
             <md-card-footer layout="row" layout-align="center center">
            <md-progress-circular md-mode="indeterminate" ng-disabled="!activated" class="md-accent" md-diameter="70" ng-hide="!activated"></md-progress-circular>
             </md-card-footer>
          </md-card>
        </div>
      </div>
    </md-content>
    </div>

    <!-- Angular Material Dependencies -->
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular-animate.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular-aria.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular-route.min.js"></script>
    <script type="text/javascript" src="https://cdn.rawgit.com/auth0/angular-jwt/master/dist/angular-jwt.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angular_material/1.1.0-rc.5/angular-material.min.js"></script>
    <script src="//cdn.jsdelivr.net/angular-material-icons/0.4.0/angular-material-icons.min.js"></script>
    <script type="text/javascript" src="https://cdn.rawgit.com/auth0/angular-jwt/master/dist/angular-jwt.js"></script>
    <script src="/scripts/angular-loading-overlay/dist/angular-loading-overlay.js"></script>
    <script src="/javascripts/services/ng-file-upload.min.js"> </script>
    <script src="/javascripts/appModule.js"></script>
    <script src="/javascripts/controllers/loginCtrl.js"></script>
    <script src="/javascripts/services/httpService.js"></script> 
  </body>
</html>