div(dir='rtl', ng-if='!vm.toDisplay.PictureUrl')#imageUploadDir
    #noImageWarning
        | *שים לב שלקורס/השתלמות אין תמונה, ולכן לא תופיע באפליקציה! העלה תמונה כעת:
    br
    form(name="vm.upload_form")
        //img(style="width:100px;", ngf-thumbnail="vm.file || '/images/thumb.png'")
        .form-group
            label בחר קובץ מקומי:
            input.form-control(type="file", ngf-select, ng-model="vm.file", name="file", ngf-pattern="'image/*'", accept="image/*", ngf-max-size="20MB")
        .form-group
            label או הדבק לינק לתמונה:
            input.form-control(type="text", ng-model="vm.fileUrl")
        //i(ng-show="vm.upload_form.file.$error.required") *required
        //br
        i(ng-show="vm.upload_form.file.$error.maxSize") File too large {{file.size / 1000000|number:1}}MB: max 20M
        .form-group
            button.btn.btn-primary(type="submit", ng-click="vm.submit()") העלה תמונה
        //p {{ vm.progress }}