#courseTableDiv.panel.panel-primary(ng-controller='coursesCtrl')
    .panelHeading.panel-heading
        button#addCourseButton.btn.btn-success(ng-click='add()', tooltip-placement='top-left', uib-tooltip='הוסף קורס חדש') +
        span קורסים פתוחים
    table.table.table-hover.table-bordered(dir="rtl")
        thead
            tr.coursesTableHead.courseRow.info
                td שם הקורס
                td תיאור
                td מחיר
        tbody#coursesTableBody
            tr.courseRow(ng-repeat='course in courses', ng-click='open(course)', style="cursor: pointer; cursor: hand;")
                td {{ course.name }}
                td {{ course.desc }}
                td {{ course.price }}
    